.heading
{
    background-image: url("../Images/home\ bg.jpg");
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    height: 130vh;
    
}
*  {
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
 }
 /* .heading h2{
    position: absolute;
    top:20%;
    font-style: italic;
    text-decoration: wavy;
    left:43%;
 } */
 .register-form
 {
    position: absolute;
    top:20%;
    left:40%;
    text-align: center;
    display: flex;
    
 }
 .newName
{
    left:40%;
    top:36%;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size:x-large;
}
.newAge
{
    left:40%;
    top:56%;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size:x-large;
}
.newuser
{
    left:40%;
    top:46%;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size:x-large;
}
.newdob
{
    left:40%;
    top:66%;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size:x-large;
}
.newGender
{
    left:40%;
    top:76%;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size:x-large;
}
.newpassword
{
    left:40%;
    top:86%;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size:x-large;
}
.in-put-name
{
    left:50%;
    top:36%;
    position: absolute;
    border: none;
    border-radius: 15px;
    padding: 10px;
}
.in-put-age
{
    left:50%;
    top:56%;
    position: absolute;
    border: none;
    border-radius: 15px;
    padding: 10px;
}
.in-put-users
{
    left:50%;
    top:46%;
    position: absolute;
    border: none;
    border-radius: 15px;
    padding: 10px;
}
.in-put-gender
{
    left:50%;
    top:76%;
    position: absolute;
    border: none;
    border-radius: 15px;
    padding: 10px;
}
.in-put-dob
{
    left:50%;
    top:66%;
    position: absolute;
    border: none;
    border-radius: 15px;
    padding: 10px;
}
.in-put-passwords
{
    left:50%;
    top:86%;
    position: absolute;
    border: none;
    border-radius: 15px;
    padding: 10px;
}
 .signcover
 {
    background-color: rgb(59, 131, 101);
    opacity: 0.7;
    position:absolute;
    left:35%;
    top:18%;
    border-radius: 15px;
    height: 80vh;
    width: 67vh;
    background-size: cover;
    color: white;
    display: flex; 
 }
 .add-btn
{
    position: absolute;
    left:49%;
    top:99.5%;
    border: none;
    border-radius: 10%;
    padding: 10px;
    background-color: rgba(6, 185, 45, 0.788);
}
.logout-btn
{
    position: absolute;
    left:90%;
    top:5%;
    border: none;
    border-radius: 10%;
    padding: 10px;
    background-color: rgba(6, 185, 45, 0.788);
}
/* sidebar css */
.navbarredux
{
    background-color: #530466;
    padding: 1%;
    color: white;
    align-content: end;
}
/* show staff css */
.grid-table
{
    display: flex;
    margin-left: 17%;
   
}

table {
    border-collapse: collapse;
    margin: 50px 30px;
  
   
}
td,th {
    text-align: center;
    border: 2px solid #000;
    padding: 8px 16px;
}

tr:has(~ tr:hover),
tr:hover ~ tr {
    filter: blur(2px);
    transition: filter 0.4s ease;
}

@media screen and (max-width: 601px) {
  .rwd-table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 600px) {
  .rwd-table tr:hover:not(:first-child) {
    background-color: #d8e7f3;
  }
  .rwd-table td:before {
    display: none;
  }
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}
/* Dashboard content */
.dash-board-content
{
    background-image: linear-gradient(68.7deg, rgb(235, 217, 221) 8%, rgb(216, 174, 211) 55.4%, rgb(255, 255, 255) 91.1%);
    height: 100vh;
    
}

 /* admin dashboard content  */
 .ag-format-container {
    width: 1142px;
    margin-left: 15%;
  }
  .ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  
    padding: 20px 0;
  }
  .ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
  
    margin: 0 15px 30px;
  
    overflow: hidden;
  
    border-radius: 28px;
  }
  .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #313031;
  
    overflow: hidden;
  
    position: relative;
  }
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
  
    overflow: hidden;
  
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
  
    z-index: 2;
    position: relative;
  }
  /* .ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;
  
    z-index: 2;
    position: relative;
  } */

  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #d862ba;
  }
  .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
  }
  .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #cd3e94;
  }
  .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
  }
  
  
  
  @media only screen and (max-width: 979px) {
    .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
      font-size: 24px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
  }
  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
  
      font-size: 24px;
    }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
    .ag-courses-item_date-box {
      font-size: 16px;
    }
  }