.Adminback {
    background-image: url("https://img.freepik.com/free-vector/student-classroom-template_1308-26333.jpg?size=626&ext=jpg&ga=GA1.1.1332638470.1685441034&semt=sph");
    background-size: cover;
    background-attachment: fixed;
    height: 85vh;
}

.logout {
    position: absolute;
    left: 50%;
    top: 50%; /* Adjusted top value */
    transform: translate(-50%, -50%); /* Center the button */
    font-size: xx-large;
    margin-top: 20px; /* Added margin-top for spacing */
}


.buttonn {
    position: absolute;
    left: 45%;
    top: 100%; /* Adjusted top value */
    color: rgb(243, 240, 240);
    background-color: rgb(8, 8, 8);
}

.dashboard-container {
    background-color: rgb(245, 241, 244);
    color: rgb(248, 244, 244);
    width: 150px;
    height: 90%;
    position: fixed;
    top: 11.85%;
}

header {
    background-color: rgb(13, 13, 14);
    padding: 20px;
}

.sidebar-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.widget-title1 a {
    color: rgb(15, 15, 15);
    position: absolute;
    left: 2%;
    top: 15%;
    text-decoration: none;
    font-weight: bold;
}

.widget-title2 a {
    color: rgb(7, 7, 7);
    position: absolute;
    left: 3%;
    top: 25%;
    text-decoration: none;
    font-weight: bold;
}

.widget-title3 a {
    color: rgb(14, 13, 13);
    position: absolute;
    left: 3%;
    top: 34%;
    text-decoration: none;
    font-weight: bold;
}

.widget-title4 a {
    color: rgb(10, 10, 10);
    position: absolute;
    left: 3%;
    top: 43%;
    text-decoration: none;
    font-weight: bold;
}

.widget-title5 a {
    color: rgb(12, 12, 12);
    position: absolute;
    left: 3%;
    top: 52%;
    text-decoration: none;
    font-weight: bold;
}
