/* Layout.css */

.Navlist {
    background-color: rgb(15, 15, 15);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .Navli {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .Homeicon a {
    color: white; 
    font-weight: bold;
    transition: color 0.2s;
    margin-right: 50px; 
    text-decoration: none;
  } 
  
  .HamburgerIcon {
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-right: 45px; /* Adjust the margin to move the hamburger icon to the left */
  }
  
  /* Mobile menu styles */
  .mobile-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 85px;
    left: 5px; /* Place the mobile menu on the left */
    background-color: blue;
    border: 1px solid white;
    padding: 10px;
    z-index: 1;
  }
  
  .mobile-menu a {
    color: white; /* Set the text color to white for all child elements in mobile-menu */
    text-decoration: none;
    font-weight: bold;
    margin: 5px 0;
    transition: color 0.2s;
  }
  
  .mobile-menu a:hover {
    color: lightgray;
  }