#ab {
    text-align: center;
    text-size-adjust: 10rem;
    background-image: url('https://images.pexels.com/photos/2501965/pexels-photo-2501965.jpeg?auto=compress&cs=tinysrgb&w=400');
    background-size: cover; /* This ensures the image covers the entire element */
    background-repeat: no-repeat; /* This prevents the image from repeating */
}



.vj {
    text-align: center;
    padding-top: 3%;
    background-image: url('https://images.pexels.com/photos/4050327/pexels-photo-4050327.jpeg?auto=compress&cs=tinysrgb&w=400');
    background-size: cover;
    background-repeat: no-repeat;
}





